body {
    background-color: rgb(63, 129, 69);
    width: 100%;
}

header {
    background-color: greenyellow;
}

header > * {
    width: 70%;
    margin: 0px auto;
}

main {
    display: flex;
}

.user-form {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
}

/* .user-form > label {

} */

.user-form > input {
    height: 1.5rem;
    margin-top: 10px;

}

.movies-container {
    background-color: rgb(10, 9, 94);
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.movie-card {
    margin: 10px;
    padding: 10px;
    color: white;
}

